<h1>Enter a value to convert from</h1>
<div>
	<% if @to_val %>
	 <%= "Convertered value is #{@to_val}"%>
	<% elsif @error %>
	 <%= @error%>
	<%end %>
</div>
<div class="row">
  <div class="col-lg-6">
    <form method="get" action="/">
    	<div class="input-group">
	      <input type="text" class="form-control" name="from"/>
	      <input type="hidden" name="converter_klass" id="converter_klass" value="<%= params.try(:[], :converter_klass) || @avaible_converters.first || "no_converters_avaible"%>" />
	      <div class="input-group-btn">
			  <button type="submit" class="btn btn-default" id="current_converter"><%= (params.try(:[], :converter_klass) || @avaible_converters.first || "no_converters_avaible").try(:titleize)%></button>
			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			    <span class="caret"></span>
			    <span class="sr-only">Toggle Dropdown</span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			  	<% @avaible_converters.each do |converter| %>
			    	<li><a href="#" converter-name ="<%= converter %>" class="converter_list"><%= converter.titleize %></a></li>
			  	<% end %>
			  </ul>
	      </div>
    	</div>
    </form>
  </div>
</div>